body {
    background: #2a5298;
    font-family: "Segoe UI", sans-serif;
    text-align: center;
    padding-top: 120px;
    color: white;
}

.contact-box {
    background: rgba(255,255,255,0.1);
    display: inline-block;
    padding: 30px 60px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
}

.contact-box h2 {
    margin-bottom: 15px;
    color: #00e0ff;
}

.contact-box p {
    margin: 10px 0;
    font-size: 17px;
}

.contact-box a {
    text-decoration: none;
    color: #00e0ff;
    font-weight: bold;
    transition: 0.3s;
}

.contact-box a:hover {
    color: white;
}
